# Git Aliases

alias gc="git checkout"
alias gm="git merge"

alias gl="git log"
alias glo="gl --oneline"

alias gpl="git pull"
alias gps="git push"

alias gs="git status"
alias hawk="git "
alias tuah="push"
